body {
    color: #fff;
    background-color: rgb(0, 0, 0);
    width: 1220px;
}

h1:hover {
    color: #0ff;
}

.h3:hover {
    color: #0ff;
}

p:hover {
    color: #0ff;
}

input {
    font-size: 110%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: end;
    background-color: #383838;
    color: rgb(255, 103, 103);
    border-radius: 0px;
    height: 22px;
}

.inputblue { /*multi*/
    color: #0ff;
    border-radius: 0px;
    height: 22px;
}

button{
    border-radius: 1px;
    background-color:#ddd;
    color:#000;
}

.container {
    justify-content: space-between;
    border-width: 10px;
    border-color: #383838;
    border-style: solid;
    width: 1220px;
}

.log { /*multi*/
    border: 1px solid #aaa;
    width: 1180px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.single{
    margin: 0 auto;
    display: flex;
}

.resultsingle {
    border: 1px solid #aaa;
    width: 45%;
    margin: 10px;
    padding: 10px;
    padding-top: 50px;
    font-weight: bold;
}

.form {
    border: 1px solid #aaa;
    margin: 10px;
    padding: 10px;
    width: 1180px;
}

.formsingle {
    border: 1px solid #aaa;
    margin: 10px;
    padding: 10px;
    width: 35%;
}

.curve {
    border: 1px solid #aaa;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282828;
}

.curvesingle {
    border: 1px solid #aaa;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: #282828;
    width: 15%;
}

.small {
    font-size: 10px;
    color:#bbb;
}

.small2 {
    font-size: 50%;
    color: #aaa;
    border-bottom: 1.5px solid #aaa;
}

.trbd {
    font-weight: bold;
}

.trbd:hover {
    font-size: 105%;
    color: rgb(255, 103, 103);
}

.trbd2 {/*V5,multi*/
    width: 250px;
    font-weight: bold;
}

.trbd3 {/*multi*/
    font-weight: bold;
    font-size: 70%;
    color: #ddd;
    text-align: center;
}

text {/*V5,multi*/
    fill: white;
    font-weight: bold;
}

::placeholder {/*multi*/
    font-size: 12px;
}

#popup-wrapper {/*multi*/
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#popup-inside {/*multi*/
    text-align: center;
    width: 100%;
    max-width: 150px;
    background: #383838;
    position: relative;
    top: 400px;
    left: 265px;
    font-size: 10px;
    color: #ddd;
    font-weight: normal;
}

#close {/*multi*/
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.koumokumei {
    font-size: 70%;
    border-bottom: 1.5px solid #aaa;
}

.simamoyo {
    background-color: #383838;
}

.simayajirusi {
    font-size: 10px;
    background-color: #383838;
    text-align: center;
    font-weight: bold;
}

.simainput {
    text-align: center;
    background-color: #383838;
}

#rec {
    font-size: 130%;
    color:rgb(255, 103, 103);
    font-family: Impact;
    font-weight: bold;
}

#recSg {
    font-size: 130%;
    color:rgb(255, 103, 103);
    font-family: Impact;
    font-weight: bold;
}

.multitex {
    font-family: Impact;
    font-size: 80%;
    color: #ddd;
}

.resultnVh {
    text-align: center;
    font-size: 18px;
    background-color: #383838;
    font-family: Impact;
    color: rgb(255, 103, 103);
}

.resultnTs {
    text-align: center;
    font-size: 25px;
    background-color: #383838;
    font-family: Impact;
    color: rgb(255, 103, 103);
}

.resultkVh {
    text-align: center;
    font-size: 18px;
    background-color: #383838;
    font-family: Impact;
    color: #0ff;
}

.resultkTs {
    text-align: center;
    font-size: 25px;
    background-color: #383838;
    font-family: Impact;
    color: #0ff;
}

.redtext{
    color: rgb(255, 103, 103);
}

.multiswitch{
    font-size:120%;
    font-weight:bold;
    background-color:rgb(255, 103, 103);
    color:black;
    text-decoration: underline;
}

.singleswitch{
    font-size:120%;
    font-weight:bold;
    background-color:rgb(255, 103, 103);
    color:black;
    text-decoration: underline;
}

#radarsite{
    display: none;
}

.kinouteiji {
    color:#aaa;
}

.bottomContainer{
    justify-content: space-between;
    width: 1220px;
    display: flex;
}

.explain{
    width: 892px;
    padding-left: 62px;
}

.commentwindow{
    width: 328px;

}

.nameform {
    font-size: 100%;
    font-family: sans-serif;
    text-align: start;
    background-color: #383838;
    color: rgb(255, 103, 103);
    border-radius: 0px;
    height: 22px;
}

.commentform {
    font-size: 100%;
    font-family: sans-serif;
    text-align: start;
    background-color: #383838;
    color: rgb(255, 103, 103);
    border-radius: 0px;
    height: 60px;
    width:250px;
}
